*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.dash-header{
    padding-top: 50px
}
.dash-wrapper{
    height: 100vh;
    background-image: linear-gradient(rgba(77, 5, 77, 0.767), rgba(180, 61, 180, 0.445)), url("/static/img/book2.jpg");
    background-position: center;
    background-size: cover;
    color: white;
}
.dash{
    margin: auto;
    width: 60%;
    margin-top: 50px;
    box-shadow: 3px 3px 3px 3px rgb(33, 184, 83);
}