{% extends "layout.html" %}

{% block title %}
    APPOINTMENT PAGE
{% endblock %}

{% block main %}
<div class="contain">
    <div class="main-wrapper">
         <h1>Book Appointment</h1>
        <div class="sub-wrapper">
            
             <div class="image-wrapper">
                 <img src="/static/img/app1.jpg" alt="medical-doctor" class="appoint-img">
             </div>

             <div class="form-wrapper">
                 <h3 class="mt-4">{{ hospitalname }}</h3>
                 <form action="/appointment" method="POST">
                     <div class="input-group mb-5 mt-4">
                         <div class="input-group-append">
                             <label class="input-group-text" for="inputGroupSelect02">Purpose</label>
                         </div>
                         <select class="custom-select" id="inputGroupSelect02" name="purpose">
                             <option disabled selected>Purpose...</option>
                             <option value="Antenatal">Antenatal</option>
                             <option value="Counselling">Counselling</option>
                             <option value="Check-up">Check-Up</option>
                             <option value="Antenatal"></option>
                         
                         </select>    
                     </div>

                     <div class="input-group mb-5">
                         <div class="input-group-append">
                             <label class="input-group-text" for="inputGroupSelect02">Time</label>
                         </div>
                         <select class="custom-select" id="inputGroupSelect02" name="time">
                             <option disabled selected>Time...</option>
                             <option value="8-10am">{{ am }}</option>
                             <option value="1-3pm">{{ pm }}</option>
                         </select>
                     </div>
                     
                     <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
                 </form>
             </div>
        </div>
    </div>
</div> 
{% endblock %}