{% extends "layout.html" %}

{% block main %} 
<div class="dash-wrapper">
    <div class="div">
        <h1 class="text-center hosp-h2">Your Appointments</h1>
    </div>
    <div class="dash">
            <table class="table table-striped app-table">
                <thead>
                    <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Purpose</th>
                    <th scope="col">Time</th>
                    </tr>
                </thead>
                <tbody>
            
                    <tr>
                        <td>Name</td>
                        <td>purpose</td>
                        <td>time</td>
                    </tr>
            
                </tbody>
            </table>
    </div>  
</div>
{% endblock %}