{% extends "layout.html" %}

{% block title %}
  Sign up | Hospital
{% endblock %}

{% block main %}

<div class="container">
    <br>
        <h2>Register as Hospital</h2>
        <form action="/hospital" method="POST">
            <div class="row">
                <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Hospital Name</label>
                        <input type="text" class="form-control" name="hospital_name" id="name_user" aria-describedby="emailHelp" placeholder="Enter hospital name" required>
                </div>
                <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" name="hospital_email" id="client_email" aria-describedby="emailHelp" placeholder="Enter email" required>
                </div>
                
            </div>
            
            <!-- <div class="row">
                <div class="form-group col-md-6">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" name="hospital_pwd" class="form-control" id="client_pwd" placeholder="Password">
                        </div>
                    <div class="form-group col-md-6">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" name="hospital_pwd" class="form-control" placeholder="confirm password">
                    </div>
                </div> -->
            <div class="row">
                <div class="form-group col-md-6">
                        <label for="exampleInputEmail1">Contact Number</label>
                        <input type="text" name="hospital_num" class="form-control" aria-describedby="emailHelp" placeholder="Enter contact number" required>
                </div>   
                <div class="form-group col-md-6">
                    <label>Choose hospital appointment times:</label>
                    <br>
                    <select name="apt_times_am" class="apt_times">
                         <option selected value="NULL">AM</option>
                         <option value="8-10am">8-10am</option>
                         <option value="10-12pm">10-12pm</option>
                    </select>
                    <select name="apt_times_pm" class="apt_times m">
                         <option selected value="NULL"> PM</option>
                         <option value="1-3pm">1-3pm</option>
                         <option value="3-5pm">3-5pm</option>
                    </select>
                </div>           
            </div>
            <div class="row">
               <div class="form-group col-md-6">
                    <label>Maximum number of appointments per day:</label>
                    <input type="number" min="1" class="form-control" placeholder="appointments per day e.g. 7" name="max_apt">
               </div>
               <div class="col-md-6">
                    <label for="address">Hospital Address</label>
                    <input type="text" name="hospital_add" class="form-control" id="address" aria-describedby="address" placeholder="Enter hospital address" required>
                </div>
               
            </div>

                <div class="row">
                    <div class="input-group mb-1">
                        <div class="input-group-prepend">
                                  <label class="input-group-text" for="inputGroupSelect01">Location</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name='hospital_loc'>
                            <option selected>Choose Location</option>
                            <option value="LAGOS">LAGOS</option>
                            <option value="ABUJA">ABUJA</option>
                            <option value="IMO">IMO</option>
                        </select>
                    </div>
                    <div class="col-md-6 mt-4 regbtn">
                        <input type="submit" class="subm btn btn-primary form-control" value="Submit">
                    </div>
                </div>
              
        </form>
    <br>  
</div>


{% endblock %}

