{% extends "layout.html" %}


{% block main %} 

<section class="hospital-header">
    <h1 class="hosp-h1"><span class="w">W</span>e <span class="c">C</span>are</h1>    
</section>

<section class="hospital">
    <div class="hosp-h2_wrapper">
        <h2 class="hosp-h2">Book appointment with hospital</h2>
    </div>
    <div class="hosp-box">
        {% for row in rows %}
        <div class="hosp-wrapper">
            <i class="fas fa-globe"></i>
            <h3 class="hosp-h3">{{ row["name"] }}</h3>
            <h4>Location: <span class="location">{{ row["location"] }}</span></h4>
            <h5>
                <!-- <a href="/appoint?"></a> -->
                {{ row["address"] }}
            </h5>
        </div> 
        {% endfor %}       
    </div>
</section>

{% endblock %}
