<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href="/static/favicon.ico" rel="icon">


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">

        


        <link href="/static/form.css" rel="stylesheet">

        <link href="/static/style.css" rel="stylesheet">

        <link href="/static/login.css" rel="stylesheet">
        <link href="/static/landing-page.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


        <title>WeCare: {% block title %}{% endblock %}</title>

    </head>

    <body>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="/"><span class="blue">We</span><span class="green">CaRe</span></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                        {% if session.user_id and not session.admin %}
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                                </li>
                            </ul>
                            {% elif session.user_id and session.admin %}
                            <ul class="navbar-nav mr-auto mt-2">
                                <li class="nav-item"><a class="nav-link" href="/hospital">Hospital Form</a></li>
                                <li class="nav-item"><a class="nav-link" href="/dashboard">View Appointment</a></li>
                            </ul>
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                <a class="nav-link" href="/logout">Logout</a>
                                </li>
                            </ul>
                        {% else %}
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                <a class="nav-link reg1" href="#">Register <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                <a class="nav-link log1" href="#">Login</a>
                                </li>
                            </ul>
                        {% endif %}
                    </div>
                  </nav>

        <main>
            {% block main %}{% endblock %}
        </main>
        
        <footer class="small text-center text-muted">
            We care &#129488;.Trust us to serve you better....
        </footer>
<script src="/static/scripts/script.js"></script>
    </body>

</html>
