{% extends "layout.html" %}

{% block title %}
  Sign up
{% endblock %}

{% block main %}

<div class="container">
    <h2 class="text-center mb-3">Register</h2>
    <form action="/register" method="POST">
        
        <div class="row">
            <div class="form-group col-md-6">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter full names" required>
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
            </div>        
        </div>
        
        <div class="row">
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Password">
            </div>
            <div class="form-group col-md-6">
                <label for="confirm">Confirm Password</label>
                <input type="password" class="form-control" name="confirm" placeholder="Confirm Password">
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="number">Contact Number</label>
                <input type="text" class="form-control" name="number" placeholder="Enter contact number" required>
            </div>
            <div class="col-md-6">
                <div class="radio">
                    <h6>What type of user are you?</h6>
                    <label><input  type="radio" name="user_type" value="user">User</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="user_type" value="hospital">Hospital</label>
                </div>
            </div>    
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" name="location" placeholder="Enter location by state e.g. Lagos" required>
            </div>
            <div class="col-md-6 mt-4">
                <input type="submit" class="subm btn btn-primary form-control" value="Submit">
            </div>
        </div>    
    </form>
        
</div>

{% endblock %}